/*overall styles*/

html, body, h1, h2, h3, p {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "PT Sans Narrow Bold", sans-serif;
  color: #323232;
  max-width: 1230px;
  /*margin: 0 auto;*/
  }

h1{
  color: #323232;
  font: 700 1.875em 'PT Sans Narrow', sans-serif;
  /*text-align: center;*/
}
h2{
  color: #00897f;
  font: 1.5em 'PT Sans Narrow', sans-serif;
  padding-bottom: 25px;
  text-align: center;
}
h3{
  color: #323232;
  font: 1em 'PT Serif', serif;
}
p {
  color: #323232;
  font: .875em 'PT Serif', serif;
}

/*header and nav styles*/
nav{
  /*display: inline-block;*/
}

nav h1{
  float: left;
  margin-left: 0;
}

nav p{
  font-size: 18px;
  line-height: 39px;
  float: right;
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
}

/*class styles*/
.kats{
  width: 100%;
  display: block;
}
.section{
  color: #ffffff;
}
.about-box-Kat,
.about-box-Mavis{
  background-color: lightgrey;
  display: inline-block;
  width:25%;
  padding: 2%;
  vertical-align: top;
  height: 150px;
}
.about-box-Kat + .about-box-Mavis{
  margin-left: 30px;
}
.about-box{
  width: 100%;
  height: 100%;
  text-align: center;
  /*padding: 6%;*/
}
.pictures-of-cats{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: space-around;
}
.cat-in-hat, .cat-in-glasses, .cat-in-coat{
  display: inline-block;
  border-radius: 50%;
}
.get-in-touch-box-business-hours,
.get-in-touch-box-contact-info{
  background-color: white;
  display: inline-block;
  width:25%;
  /*padding: 30px;*/
  height: 120px;
  vertical-align: top;
}
.get-in-touch-box{
  width: 100%;
  text-align: center;
  background-color: lightgrey;
}
.address {
  color: #f26522;
  font: 1em 'PT Serif', 700;
}
.a {
  color: #f26522;
}

.shop-map{
  width: 100%;
  display: block;
}

footer{
  background-color: #00897f;
}

/*id styles*/
#h1GetSome{
  text-align: center;
}
#h3Description{
    width: 40%;
    margin: 0 auto;
    text-align: left;
    line-height: 20px;
}
#p-get-in-touch-box-business-hours{
  line-height: 40px;
  text-align: left;
}
#footer-h1{
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

@media(max-width: 738px){
  .cat-in-hat{
    display: none;
  }
}
@media(max-width: 600px) {

  .about-box{
    margin: 0 auto;
    width: 100%;
  }
  .about-box-Kat , .about-box-Mavis{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
  }
  .about-box-Kat + .about-box-Mavis{
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    height: auto;
  }
  .cat-in-hat, .cat-in-glasses{
    display: none;
  }
}

/* On devices wider than 660px */
@media(min-width: 660px) {
}

@media(max-width: 1030px) {
  #h3Description{
    width: 80%;
  }
}
/* On devices wider than 940px */
@media(min-width: 940px) {
}
